// Place all the styles related to the cardio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
    border: 3px solid red; 
    height: 100%; 
    margin:0 20% 0 20%; 
    padding: 0% 0% 2.5% 0%; 
    background-color:#fffeee;
}

.attr {
    width: 50%
}